/HQL/target/
/SDI1/target/
/cs544_belesti/target/
/SDI2/target/
/SSL2/target/
/AOP1/target/
/HPA1/target/
/AOP2/target/
/SPH1/target/
/SPH2/target/
/Pridict/target/
/Predict/target/
/HAP1/target/
/SJS2/SJS2/target/
/Personal/target/
/MVC1/target/
/SEC1/target/
/SEC11/target/
/Security/target/
/BekaSecurity/target/
/Val1/target/